---
http_interactions:
- request:
    method: get
    uri: http://www.caixasimples.com/api/suppliers/221?api_token=<API_KEY>&name=nando&reference_code=2341243
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"937c71036191d3844084ad64287e376b"'
    body:
      encoding: UTF-8
      string: '{"id":221,"referenceCode":"2341243","name":"nando","federalRegistry":null,"phone":null,"legalPerson":null,"street":null,"number":null,"postalCode":null,"district":null,"city":null}'
  recorded_at: Mon, 07 Jul 2014 22:39:33 GMT
recorded_with: VCR 2.9.0
