---
http_interactions:
- request:
    method: patch
    uri: http://www.caixasimples.com/api/suppliers/223?api_token=<API_KEY>&id=223&name=Americanas.com
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e3719cc8953989b540273883997f2b9e"'
    body:
      encoding: UTF-8
      string: '{"id":223,"referenceCode":null,"name":"Americanas.com","federalRegistry":null,"phone":null,"legalPerson":null,"street":null,"number":null,"postalCode":null,"district":null,"city":null}'
  recorded_at: Tue, 08 Jul 2014 14:40:28 GMT
recorded_with: VCR 2.9.0
