---
http_interactions:
- request:
    method: post
    uri: http://www.caixasimples.com/api/suppliers
    body:
      encoding: UTF-8
      string: name=Americanas&api_token=<API_KEY>
    headers: {}
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4d5ec8392d7bce32dc7a06ddac3afcec"'
      Location:
      - http://www.caixasimples.com/app/suppliers/223
    body:
      encoding: UTF-8
      string: '{"id":223,"referenceCode":null,"name":"Americanas","federalRegistry":null,"phone":null,"legalPerson":null,"street":null,"number":null,"postalCode":null,"district":null,"city":null}'
  recorded_at: Mon, 07 Jul 2014 22:45:02 GMT
recorded_with: VCR 2.9.0
